@model Citas.App.Models.Medico

<h1>Detalle del Médico</h1>

<p><strong>Nombre:</strong> @Model.Nombre</p>
<p><strong>Apellido:</strong> @Model.Apellido</p>
<p><strong>Especialidad:</strong> @Model.Especialidad</p>
<p><strong>Licencia:</strong> @Model.NumeroLicencia</p>

<a asp-action="Index">Volver</a>