# Logs
*.log
logs/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# .NET
bin/
obj/
TestResults/

# Rider
.idea/

# VS Code
.vscode/

# Sistema operativo
.DS_Store
Thumbs.db

# Cobertura
coverage/
coverage.*
*.coverage
*.coveragexml

# NuGet
*.nupkg
